@inherits PlayerColourComponentBase

<div>
    <img src=@(Definition.ExplorerToken.File)
         width=@(Definition.ExplorerToken.Width)
         height=@(Definition.ExplorerToken.Height)
         @onclick="@(() => OnClickHandler( Definition.Id ))"
         class="selectable" />
</div>
