@inherits PlayerColourComponentBase

<div>
    <img src=@(Definition.Explorer.File)
         width=@(Definition.Explorer.Width)
         height=@(Definition.Explorer.Height)
         @onclick="@(() => OnClickHandler( Definition.Id ))"
         class="selectable" />
</div>
