@page "/NewGame"
@inherits NewGamePageBase

<PageTitle>New Game</PageTitle>

@foreach (Game game in Games)
{
    <div>
        <ExistingGameComponent Game=game />
        <button class="btn btn-primary" @onclick="() => OnDeleteGameClicked(game)">
            Delete
        </button>
    </div>

}

<h3>New Game</h3>

<button class="btn btn-primary" @onclick="OnCreateGameClicked">
    Create Game
</button>

