.map_container {
    position: relative;
    display: inline-block;
}

.map_image {
    max-width: 100%;
    display: block;
    height: auto;
    user-select: none
}

.map_areas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none
}
