@page "/"
@inherits LobbyPageBase

<PageTitle>Lobby</PageTitle>

<SavedGamesComponent/>

<h3>New Game</h3>

<button class="btn btn-primary" @onclick="OnCreateGameClicked">
    Create Game
</button>
