@page "/create"
@inherits CreateGamePageBase
@using HeartOfDarkness.Client.Pages.Components.Map
@using HeartOfDarkness.Client.Pages.Components.PlayerColour
@using HeartOfDarkness.Client.Pages.Components.Inventory

@if (DisplayState == DisplayState.SelectPortOfEntry)
{
    <h3>Select Port of Entry or <button class="btn btn-primary" @onclick="OnCancelClicked">Cancel</button></h3>
    <MapComponent OnRegionSelected="RegionSelectedHandler"
                  Definition=MapDefinition
                  State=MapState />
}
else if (DisplayState == DisplayState.SelectPatron)
{
    <h3>Select Patron or <button class="btn btn-primary" @onclick="OnCancelClicked">Cancel</button></h3>
    <PatronsComponent OnPatronSelected="PatronSelectedHandler"
                      PatronDefinitions=PatronDefinitions />
}
else if (DisplayState == DisplayState.SelectResources)
{
    <h3>Select Resources or <button class="btn btn-primary" @onclick="OnCancelClicked">Accept</button></h3>
    <PlayerResourcesComponent ResourceDefinitions=ResourceDefinitions
                              Inventory=NewGame.Inventory
                              InventoryResourceDefinitions=InventoryResourceDefinitions
                              PlayerColourDefinition=PlayerColourDefinition />
}
else if (DisplayState == DisplayState.SelectPlayerColour)
{
    <h3>Select Colour or <button class="btn btn-primary" @onclick="OnCancelClicked">Cancel</button></h3>
    <PlayerColoursComponent Definitions=PlayerColourDefinitions
                            OnPlayerColourSelected=PlayerColourSelectedHandler />
}
else if (DisplayState == DisplayState.CreateGame)
{
    <h3>Create New Game</h3>
    <EditForm Model=@NewGame OnValidSubmit=OnCreateGameClicked>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div>
            Colour :
            @(NewGame!.Colour ?? "")
            <button class="btn btn-primary" @onclick="DoSelectPlayerColour">
                Select
            </button>
        </div>
        <div>
            Port of Entry:
            @(NewGame!.PortOfEntry ?? "")
            <button class="btn btn-primary" @onclick="DoSelectPortOfEntry">
                Select
            </button>
        </div>
        <div>
            Patron :
            @(NewGame!.Patron ?? "")
            <button class="btn btn-primary" @onclick="DoSelectPatron">
                Select
            </button>
        </div>
        <div>
            Resources :
            <button class="btn btn-primary" @attributes=ResourcesButtonAttributes @onclick="DoSelectResources">
                Select
            </button>
            <InventoryComponent Inventory=NewGame.Inventory
                                ColourDefinition=PlayerColourDefinition />
        </div>

        <div>
            <button type="submit" class="btn btn-primary">
                Create Game
            </button>
        </div>
    </EditForm>

}