@inherits PatronsComponentBase
@using HeartOfDarkness.Client.Pages.Components.Patron

<div>
    @foreach (PatronDefinition patron in PatronDefinitions)
    {
        <div>
            <PatronComponent Id=@patron.PatronId
                             Image=@patron.Image.File
                             Width=@patron.Image.Width
                             Height=@patron.Image.Height
                             OnPatronSelected="OnPatronSelectedHandler" />
        </div>
    }
</div>