@inherits PlayerResourcesComponentBase
@using HeartOfDarkness.Client.Pages.Components.Resource

<h3>Resources</h3>

<div class="resources-container">
    @foreach (InventoryResourceDefinition definition in InventoryResourceDefinitions)
    {
        <InventoryResourceComponent ColourDefinition=PlayerColourDefinition
                                    Definition=definition
                                    OnResourceSelected=InventoryResourceSelectedHandler
                                    Count=@(Inventory[definition.Id])
                                    Limit=definition.Maximum />
    }
    @foreach (ResourceDefinition definition in ResourceDefinitions)
    {
        <ResourceComponent Definition=definition
                           Count=@(Inventory[definition.Id])
                           Limit=@(CalculatedResourceLimit(definition.Id))
                           OnResourceSelected=ResourceSelectedHandler />
    }
</div>
