@inherits PlayerResourcesComponentBase
@using HeartOfDarkness.Client.Pages.Components.Resource

<h3>Resources</h3>

Credits: @(CreditsRemaining) / @(TotalCredits)

Capacity: @(PorterCapacity.GetAvailable(Inventory)) / @(PorterCapacity.GetMaximum(Inventory))

<div class="resources-container">
    @foreach (InventoryResourceDefinition definition in InventoryResourceDefinitions)
    {
        <InventoryResourceComponent ColourDefinition=PlayerColourDefinition
                                    Definition=definition
                                    OnResourceSelected=InventoryResourceSelectedHandler
                                    Count=@(Inventory[definition.Id])
                                    Limit=@(ResourceLimitProvider.GetMaximum(InventoryResourceDefinitions, definition.Id)) />
    }
    @foreach (ResourceDefinition definition in ResourceDefinitions)
    {
        <ResourceComponent Definition=definition
                           Count=@(Inventory[definition.Id])
                           Limit=@(ResourceLimitProvider.GetMaximum(ResourceDefinitions, 1, definition.Id))
                           OnResourceSelected=ResourceSelectedHandler />
    }
</div>
