@inherits ResourceComponentBase

<div class="resource-container">
    <img src="@Definition.Image.File"
         width="@Definition.Image.Width"
         height="@Definition.Image.Height"
         class="selectable"
         @onclick="() => OnClickHandler(Definition.Id)"/>
    <div>
        @Definition.Id
        @Count / @Limit
    </div>
</div>
