.selectable {
    cursor: pointer;
}

.resource-item {
    display: flex;
    flex-direction: column;
}

.item-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.item-overlay {
    position: absolute;
    top: 0;
    right: 0;
}
